/* VARIABLES */
/* LISTAS */
/* MIXIN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
}

header,
body,
footer {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
  font-weight: 400;
}

p {
  font-size: 17.5;
  font-weight: 250;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}
header .navbar {
  --bs-navbar-padding-y: 0;
  --bs-navbar-nav-link-padding-x: 0.7rem;
}
header .navbar .container-fluid {
  background-color: #000000;
}
header .navbar .container-fluid .navbar-brand img {
  transition: 0.6s ease-in-out;
}
header .navbar .container-fluid .navbar-brand:hover {
  filter: drop-shadow(0 0 18px rgba(255, 255, 255, 0.305));
}
header .navbar .container-fluid .navbar-toggler {
  background-color: white;
  transition: 0.3s ease-in;
}
header .navbar .container-fluid .navbar-toggler:active {
  background-color: #ff4654;
}
header .navbar .container-fluid .navbar-toggler:hover {
  background-color: #ff4654;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  border-radius: 0.6em;
  transition: 0.2s ease-in;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
  background-color: #ff4654;
  border-radius: 0.6em;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link .nav-link.active {
  color: #ffffff;
}
header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link .nav-link.show {
  color: #ffffff;
}

.page-description {
  background-image: url(../assets/img/wavy-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
}
.page-description h1 {
  padding: 15px 0;
}
.page-description h2 {
  font-size: 18px;
  font-weight: 370;
  margin: 20px 20px;
}

/* INDEX - CLASES */
.container-fluid {
  background-color: #000000;
}

.navbar {
  --bs-navbar-padding-y: 0;
  --bs-navbar-nav-link-padding-x: 0.7rem;
}

.card-sections {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  padding: 30px 0;
  margin: 0 20px;
}
.card-sections div {
  width: 300px;
  border: 2px solid #f06065;
  border-radius: 10px;
  padding: 30px 30px;
}
.card-sections div .batch {
  vertical-align: baseline;
  padding: 10px 3px;
  margin: 10px 0;
  filter: drop-shadow(0 0 60px rgba(255, 255, 255, 0.611));
}
.card-sections div .card-sections__icon {
  vertical-align: baseline;
  padding: 10px 3px;
  margin: 10px 0;
}
.card-sections div h3 {
  margin: 8px 0;
}
.card-sections div .card-sections__text {
  margin: 20px 10px;
}

footer {
  text-align: center;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 35px;
  z-index: 2;
}
footer .footer__icons a {
  display: inline-block;
}
footer .footer__icons a img {
  padding: 10px;
}

.row div {
  padding: 10px 10px;
}

.hero-section {
  text-align: center;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.hero-section h1 {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  text-shadow: 3px 2px rgba(0, 0, 0, 0.132);
}
.hero-section h2 {
  font-size: 23px;
  text-align: center;
  text-shadow: 3px 2px rgba(0, 0, 0, 0.132);
  margin: 10px 0;
}
.hero-section a {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background-color: #ff4654;
  border-radius: 0.6em;
  padding: 7px 21px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  transition: 0.3s ease-in;
}
.hero-section a:visited {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background-color: #ff4654;
  border-radius: 0.6em;
  padding: 7px 21px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  transition: 0.3s ease-in;
}
.hero-section a:active {
  background-color: #b52d38;
  transform: scale(0.99);
}
.hero-section video {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  opacity: 0.4;
  width: 100%;
}

.about-tournament {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px 30px;
  box-sizing: border-box;
}
.about-tournament p {
  font-size: 18px;
  font-weight: 450;
  text-align: center;
  padding: 30px 0;
  margin: 0 5px;
}

.tournament-info {
  background-color: rgba(32, 32, 32, 0.459);
  width: 100%;
  text-align: center;
  padding: 30px 40px;
  box-sizing: border-box;
}
.tournament-info h2 {
  padding: 30px;
  margin: 0 !important;
}
.tournament-info .tournament-description {
  font-size: 18px;
  font-weight: 350;
  text-align: center;
  padding: 10px;
}
.tournament-info .section-subdescription {
  text-align: center;
  font-size: 17px;
  font-weight: 380;
  margin: 35px;
}
.tournament-info .card-sections div {
  height: 347px;
}

.countdown {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: fit-content;
  padding: 40px 0;
  box-sizing: border-box;
}
.countdown h2 {
  padding: 30px;
  margin: 0 !important;
}
.countdown div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
  margin-bottom: 10px;
}
.countdown div span {
  background-color: rgba(255, 255, 255, 0.1098039216);
  border-radius: 0.6em;
  padding: 10px 20px;
  filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.619));
}

.prizes {
  background-color: rgba(32, 32, 32, 0.459);
  width: 100%;
  padding: 30px 40px;
  box-sizing: border-box;
}
.prizes h2 {
  padding: 30px;
  margin: 0 !important;
}
.prizes .card-sections div {
  height: 300px;
  margin-bottom: 10px;
}

.requirements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 50px 0;
  padding: 30px 40px;
}
.requirements .requirements__bg {
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
  opacity: 0.18;
  filter: grayscale(1);
  width: 100%;
  height: 100%;
}
.requirements .card-sections {
  max-width: 1300px;
  padding: 50px 0;
  margin: 0 auto;
}
.requirements .card-sections div {
  height: 323px;
}
.requirements .nota {
  text-align: center;
  font-style: italic;
  margin: 40px 0;
}

.tournament-points .tournament-per-rank {
  background-color: rgba(32, 32, 32, 0.459);
  margin: 40px 0;
  padding: 40px;
}
.tournament-points .tournament-per-rank .tournament-per-rank__title {
  display: flex;
  justify-content: center;
  gap: 7px;
  text-align: center;
  padding: 10px;
  margin: 15px 20px;
}
.tournament-points .tournament-per-rank .tournament-per-rank__title div img {
  padding: 3px;
}
.tournament-points .tournament-per-rank .tournament-per-rank__title h3 {
  text-align: center;
  margin: auto 0;
  padding: 10px;
}
.tournament-points .tournament-per-rank h4 {
  font-size: 18px;
  text-align: center;
  padding: 20px;
  margin: 20px;
}
.tournament-points .tournament-per-rank .tournament-per-rank__info {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(6, 60px) 80px;
  row-gap: 15px;
  column-gap: 30px;
  padding: 15px;
  margin: 30px 30px;
}
.tournament-points .tournament-per-rank .tournament-per-rank__info .tournament-per-rank__date {
  font-size: 17px;
  grid-area: 3/1/4/2;
  justify-self: start;
  align-self: start;
  margin: 0;
}
.tournament-points .tournament-per-rank .tournament-per-rank__info .tournament-per-rank__participants {
  font-size: 17px;
  grid-area: 4/1/5/2;
  justify-self: start;
  align-self: start;
  margin: 0;
}
.tournament-points .tournament-per-rank .tournament-per-rank__info table {
  grid-area: 1/2/6/3;
  justify-self: center;
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}
.tournament-points .tournament-per-rank .tournament-per-rank__info table tr th {
  grid-area: 1/2/2/4;
  width: 80px;
  border: 2px solid #f06065;
  background-color: #f06065;
}
.tournament-points .tournament-per-rank .tournament-per-rank__info table tr td {
  border: 2px solid #f06065;
}
.tournament-points .tournament-per-rank .tournament-per-rank__info .mvp {
  grid-area: 6/1/7/4;
  justify-self: center;
  align-self: end;
  font-size: 18px;
  text-align: center;
  margin: 0;
}
.tournament-points .tournament-per-rank .tournament-per-rank__info button {
  grid-area: 7/1/8/4;
  align-self: end;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background-color: #ff4654;
  border: none;
  border-radius: 0.6em;
  display: flex;
  padding: 7px 21px;
  margin: 7px auto;
  transition: 0.2s ease-in;
}
.tournament-points .tournament-per-rank .tournament-per-rank__info button:active {
  background-color: #b52d38;
  transform: scale(0.99);
}

.news {
  max-width: 1430px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 220px);
  row-gap: 40px;
  column-gap: 30px;
  justify-content: center;
  overflow: hidden;
  padding: 20px 40px;
  margin: 40px auto;
}
.news .news__1 {
  text-align: center;
  border: 2px solid #f06065;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(90deg, rgba(255, 70, 86, 0.162) 0%, rgba(0, 0, 0, 0.178) 50%, rgba(255, 70, 86, 0.19) 100%), url(../assets/img/bg-news.jpg);
  grid-column: span 6;
  width: 100% !important;
  transition: 0.6s ease-in-out;
}
.news .news__1 .news-date {
  font-size: 16px;
  text-align: justify;
  padding: 5px;
}
.news .news__1 h3 {
  padding: 5px;
}
.news .news__1 p {
  font-size: 18px;
  padding: 5px;
  width: 100% !important;
}
.news .news__2 {
  text-align: center;
  border: 2px solid #f06065;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(90deg, rgba(255, 70, 86, 0.162) 0%, rgba(0, 0, 0, 0.178) 50%, rgba(255, 70, 86, 0.19) 100%), url(../assets/img/bg-news.jpg);
  grid-column: span 3;
  width: 100% !important;
  justify-self: center;
  transition: 0.6s ease-in-out;
}
.news .news__2 .news-date {
  font-size: 16px;
  text-align: justify;
  padding: 5px;
}
.news .news__2 h3 {
  padding: 5px;
}
.news .news__2 p {
  font-size: 18px;
  padding: 5px;
  width: 100% !important;
}
.news .news__3 {
  text-align: center;
  border: 2px solid #f06065;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(90deg, rgba(255, 70, 86, 0.162) 0%, rgba(0, 0, 0, 0.178) 50%, rgba(255, 70, 86, 0.19) 100%), url(../assets/img/bg-news.jpg);
  grid-column: span 3;
  justify-self: center;
  width: 100% !important;
  transition: 0.6s ease-in-out;
}
.news .news__3 .news-date {
  font-size: 16px;
  text-align: justify;
  padding: 5px;
}
.news .news__3 h3 {
  padding: 5px;
}
.news .news__3 p {
  font-size: 18px;
  padding: 5px;
  width: 100% !important;
}
.news .news__4 {
  text-align: center;
  border: 2px solid #f06065;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(90deg, rgba(255, 70, 86, 0.162) 0%, rgba(0, 0, 0, 0.178) 50%, rgba(255, 70, 86, 0.19) 100%), url(../assets/img/bg-news.jpg);
  grid-column: span 2;
  justify-self: center;
  width: 100% !important;
  transition: 0.6s ease-in-out;
}
.news .news__4 .news-date {
  font-size: 16px;
  text-align: justify;
  padding: 5px;
}
.news h3 {
  padding: 5px;
}
.news p {
  font-size: 18px;
  padding: 5px;
  width: 100% !important;
}

.form {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 50px 0;
}
.form .form__bg {
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
  opacity: 0.18;
  filter: grayscale(1);
  width: 100%;
  height: 100%;
  margin: auto;
}
.form .container .formulario__wrapper {
  max-width: 800px;
  justify-content: center !important;
  padding: 60px;
  margin: 0 auto;
}
.form .container .formulario__wrapper .col-md-6 .form-control:focus {
  border-color: #ff4654;
  box-shadow: 0 0 0 0.25rem rgba(255, 70, 86, 0.2117647059);
}
.form .container .col-md-12 .form-select:focus {
  border-color: #ff4654;
  box-shadow: 0 0 0 0.25rem rgba(255, 70, 86, 0.2117647059);
}
.form .container .col-md-12 .form-control:focus {
  border-color: #ff4654;
  box-shadow: 0 0 0 0.25rem rgba(255, 70, 86, 0.2117647059);
}
.form .container .col-12 {
  display: flex;
  justify-content: center;
}
.form .container .col-12 .form-check {
  display: flex !important;
  justify-content: center !important;
  gap: 10px;
  margin: 10px;
}
.form .container .col-12 .form-check .form-check-input {
  --bs-form-check-bg: none !important;
}
.form .container .col-12 .form-check .form-check-input:checked {
  background-color: #ff4654;
  border-color: #ff4654;
}
.form .container .col-12 {
  display: flex;
  justify-content: center;
}
.form .container .col-12 .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ff4654;
  --bs-btn-border-color: #ff4654;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b52d38;
  --bs-btn-hover-border-color: #b52d38;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ff4654;
  --bs-btn-active-border-color: #ff4654;
  --bs-btn-active-shadow: iccnset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
  border-radius: 0.6em;
  transition: 0.3s ease-in;
}

.form .formulario__wrapper div {
  padding: 10px 10px;
}

/* GENERALES */
@media screen and (max-width: 992px) {
  header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
    color: #ff4654;
    background: none;
    border-radius: 0px;
  }
}
@media screen and (max-width: 769px) {
  header .navbar .container-fluid .navbar-toggler {
    width: 45px;
  }
  header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
}
@media screen and (max-width: 481px) {
  header .navbar .container-fluid .navbar-brand img {
    width: 65px;
  }
  header .navbar .container-fluid .navbar-toggler {
    width: 45px;
  }
}
@media screen and (max-width: 769px) {
  h2 {
    font-size: 25px;
    margin: 0 20px;
  }
}
@media screen and (max-width: 481px) {
  h2 {
    font-size: 24px;
    margin: 0 20px;
  }
}
@media screen and (max-width: 481px) {
  h2 {
    font-size: 22px;
    margin: 0 20px;
  }
}
@media screen and (max-width: 769px) {
  .page-description {
    margin: 25px 0;
  }
  .page-description h1 {
    font-size: 35px;
    text-align: center;
  }
  .page-description h2 {
    font-size: 17px;
  }
}
@media screen and (max-width: 481px) {
  .page-description {
    background-image: none;
  }
  .page-description h1 {
    font-size: 32px;
    margin: 10px 0;
  }
  .page-description h2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 481px) {
  .card-sections {
    min-width: 200px;
    margin: 0 auto;
  }
  .card-sections div {
    padding: 30px 20px;
  }
  .card-sections div .batch {
    width: 43px;
    margin: 5px 0;
  }
  .card-sections div .card-sections__icon {
    width: 43px;
    margin: 5px 0;
  }
  .card-sections div h3 {
    font-size: 18px;
  }
}
/* INDEX */
@media screen and (max-width: 1025px) {
  .hero-section h1 {
    font-size: 45px;
    margin: 0 auto;
  }
  .hero-section h2 {
    font-size: 22px;
    margin: 10px 20px;
  }
}
@media screen and (min-width: 769px) {
  .hero-section a:hover {
    background-color: #b52d38;
  }
}
@media screen and (max-width: 769px) {
  .hero-section h1 {
    font-size: 38px;
    margin: 0 20px;
  }
  .hero-section h2 {
    font-size: 21px;
    margin: 10px 20px;
  }
}
@media screen and (max-width: 481px) {
  .hero-section h1 {
    font-size: 30px;
    margin: 0 20px;
  }
  .hero-section h2 {
    font-size: 18px;
    margin: 10px 20px;
  }
  .hero-section a {
    padding: 7px 15px;
  }
  .hero-section a:visited {
    padding: 7px 15px;
  }
  .hero-section video {
    min-height: 300px;
  }
}
@media screen and (max-width: 1025px) {
  .about-tournament p {
    font-size: 17px;
    width: 95%;
  }
}
@media screen and (max-width: 769px) {
  .about-tournament p {
    font-size: 16px;
    width: 90%;
  }
}
@media screen and (max-width: 481px) {
  .about-tournament {
    height: 300px;
    margin: 0 10px;
  }
  .about-tournament h2 {
    margin: 10px 0;
  }
  .about-tournament p {
    font-size: 16px;
    margin: 0;
  }
}
@media screen and (max-width: 481px) {
  .tournament-info h2 {
    padding: 15px 0;
  }
  .tournament-info .tournament-description {
    font-size: 16px;
  }
  .tournament-info .section-subdescription {
    font-size: 15px;
  }
}
@media screen and (max-width: 769px) {
  .countdown div {
    gap: 20px;
  }
  .countdown div span {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 481px) {
  .countdown h2 {
    width: 95%;
    margin: 0 auto;
  }
  .countdown div {
    flex-direction: column;
  }
  .countdown div span {
    font-size: 15px;
    text-align: center;
    width: 104.13px;
    padding: 10px 13px;
  }
}
@media screen and (max-width: 769px) {
  .prizes h2 {
    padding: 10px 0;
  }
}
/* REQUISITOS */
@media screen and (max-width: 481px) {
  .requirements .card-sections {
    min-width: 220px;
    margin: 0 auto;
  }
  .requirements .card-sections div {
    padding: 30px 20px;
  }
  .requirements .card-sections div h3 {
    font-size: 18px;
  }
  .requirements .nota {
    font-size: 15px;
  }
}
/* RESULTADOS */
@media screen and (max-width: 1025px) {
  .tournament-points .tournament-per-rank .tournament-per-rank__info {
    padding: 0px;
    margin: 30px 20px;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info .tournament-per-rank__date {
    font-size: 15px;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info .tournament-per-rank__participants {
    font-size: 15px;
  }
}
@media screen and (min-width: 769px) {
  .tournament-points .tournament-per-rank__info button:hover {
    background-color: #b52d38;
  }
}
@media screen and (max-width: 769px) {
  .tournament-points .tournament-per-rank .tournament-per-rank__title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 15px 20px;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__title div img {
    width: 40px;
    height: 40px;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__title h3 {
    font-size: 19px;
    padding: 3px !important;
  }
  .tournament-points .tournament-per-rank h4 {
    font-size: 17px;
    text-align: center;
    padding: 0 !important;
    margin: 10px 20px;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 35px 35px repeat(4, 50px) 50px 60px;
    row-gap: 20px;
    padding: 10px;
    margin: 20px 30px;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info .tournament-per-rank__date {
    font-size: 15px;
    grid-area: 1/1/2/4;
    justify-self: start;
    align-self: center;
    margin: 0;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info .tournament-per-rank__participants {
    font-size: 15px;
    grid-area: 2/1/3/4;
    justify-self: start;
    align-self: center;
    margin: 0;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info table {
    grid-area: 3/1/7/4;
    justify-self: center;
    font-size: 15px;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info .mvp {
    font-size: 16px !important;
    grid-area: 7/1/8/4;
    justify-self: center;
    align-self: center;
    font-size: 17px;
    text-align: center;
    margin: 0;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info button {
    grid-area: 8/1/9/4;
    align-self: center;
  }
}
@media screen and (max-width: 481px) {
  .tournament-points .tournament-per-rank {
    margin: 20px 0;
    padding: 10px 30px;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 15px 20px;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__title div img {
    width: 40px;
    height: 40px;
    margin: 10px 0;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__title h3 {
    font-size: 19px;
    padding: 3px !important;
  }
  .tournament-points .tournament-per-rank h4 {
    font-size: 16px;
    text-align: center;
    padding: 0 !important;
    margin: 10px 0;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 !important;
    margin: 30px auto !important;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info .tournament-per-rank__date {
    font-size: 15px;
    align-self: start;
    margin: 0;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info .tournament-per-rank__participants {
    font-size: 15px;
    align-self: start;
    margin: 0;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info table {
    font-size: 0.8em;
    justify-self: center;
    margin: 0 auto;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info .mvp {
    font-size: 15px !important;
    grid-area: 7/1/8/4;
    justify-self: center;
    align-self: center;
    font-size: 17px;
    text-align: center;
    margin: 0;
  }
  .tournament-points .tournament-per-rank .tournament-per-rank__info button {
    font-size: 15px;
    padding: 7px 19px;
    align-self: center;
  }
}
/* NOTICIAS */
@media screen and (max-width: 1179px) {
  .news .news__1 h3 {
    font-size: 19px;
  }
  .news .news__1 p {
    font-size: 16px;
  }
  .news .news__2 h3 {
    font-size: 19px;
  }
  .news .news__2 p {
    font-size: 16px;
  }
  .news .news__3 h3 {
    font-size: 19px;
  }
  .news .news__3 p {
    font-size: 16px;
  }
  .news .news__4 h3 {
    font-size: 19px;
  }
  .news .news__4 p {
    font-size: 16px;
  }
}
@media screen and (max-width: 1025px) {
  .news {
    grid-template-rows: repeat(7, 200px);
  }
  .news .news__4 {
    grid-column: span 3;
  }
}
@media screen and (min-width: 769px) {
  .news .news__1:hover {
    background: linear-gradient(rgba(255, 70, 86, 0.7764705882), rgba(0, 0, 0, 0)), url(../assets/img/bg-news.jpg);
    justify-self: center;
    transform: scale(1.03);
  }
  .news .news__2:hover {
    background: linear-gradient(rgba(255, 70, 86, 0.7764705882), rgba(0, 0, 0, 0)), url(../assets/img/bg-news.jpg);
    width: 92% !important;
    transform: scale(1.03);
  }
  .news .news__3:hover {
    background: linear-gradient(rgba(255, 70, 86, 0.7764705882), rgba(0, 0, 0, 0)), url(../assets/img/bg-news.jpg);
    width: 92% !important;
    transform: scale(1.03);
  }
  .news .news__4:hover {
    background: linear-gradient(rgba(255, 70, 86, 0.7764705882), rgba(0, 0, 0, 0)), url(../assets/img/bg-news.jpg);
    width: 92% !important;
    transform: scale(1.03);
  }
}
@media screen and (max-width: 769px) {
  .news {
    grid-template-rows: repeat(12, 200px);
  }
  .news .news__1 {
    grid-column: span 6;
  }
  .news .news__2 {
    grid-column: span 6;
  }
  .news .news__3 {
    grid-column: span 6;
  }
  .news .news__4 {
    grid-column: span 6;
  }
}
@media screen and (max-width: 481px) {
  .news {
    grid-template-rows: repeat(5, 260px);
    row-gap: 50px;
  }
  .news .news__1 {
    min-height: 260px;
  }
  .news .news__1 h3 {
    font-size: 17px;
  }
  .news .news__2 {
    min-height: 260px;
  }
  .news .news__2 h3 {
    font-size: 17px;
  }
  .news .news__3 {
    min-height: 260px;
  }
  .news .news__3 h3 {
    font-size: 17px;
  }
  .news .news__4 {
    min-height: 260px;
  }
  .news .news__4 h3 {
    font-size: 17px;
  }
}
/* INSCRIBITE */
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: fit-content !important;
  }
}
@media screen and (max-width: 481px) {
  .form .container .formulario__wrapper {
    padding: 60px 15px;
  }
  .form .container .formulario__wrapper .form-control {
    font-size: 15px;
  }
}
/* FOOTER */
@media screen and (max-width: 481px) {
  .footer__icons a img {
    width: 55px;
  }
}

/*# sourceMappingURL=estilos.css.map */
