@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
}

header,
body,
footer {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 19px;
    font-weight: 400;
}

p {
    font-size: 17.5;
    font-weight: 250;
}

.page-description {
    background-image: url(../assets/img/wavy-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
}

.page-description h2 {
    font-size: 18px;
    font-weight: 370;
    margin: 20px 20px;
}

@media screen and (max-width: 481px) {
    .page-description {
        background-image: none;
    }
}

@media screen and (max-width: 769px) {
    .page-description h1 {
        font-size: 35px;
        text-align: center;
    }
}

@media screen and (max-width: 481px) {
    .page-description h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 769px) {
    .page-description h2 {
        font-size: 17px;
    }
}

@media screen and (max-width: 481px) {
    .page-description h2 {
        font-size: 16px;
    }
}

/* Página Index */

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.container-fluid {
    background-color: black;
}

.navbar {
    --bs-navbar-padding-y: 0;
    --bs-navbar-nav-link-padding-x: 0.7rem;
}

.navbar-brand img {
    transition: 1s ease-in;
}

.navbar-brand img:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.369))
}

@keyframes transformation {
    0% {
        filter: brightness(80%);
    }
    100% {
        filter: brightness(100%);
    }
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white;
}

.nav-link {
    color: white;
    border-radius: 0.6em;
    transition: 0.2s ease-in;
}

.nav-link:hover {
    color: white;
    background-color: #ff4654;
    border-radius: 0.6em;
}

.navbar-toggler {
    background-color: white;
    transition: 0.3s ease-in;
}

.navbar-toggler:active {
    background-color: #ff4654;
}

.navbar-toggler:hover {
    background-color: #ff4654;
}

@media screen and (max-width: 992px) {
    .nav-link:hover {
        color: #ff4654;
        background: none;
        border-radius: 0px;
    }
}

@media screen and (max-width: 481px) {
    .navbar-brand img {
        width: 65px;
    }
}

@media screen and (max-width: 481px) {
    .navbar-toggler {
        width: 45px;
    }
}

@media screen and (max-width: 769px) {
    .navbar-toggler-icon {
        width: 1em;
        height: 1em;
    }
}

@media screen and (max-width: 481px) {
    h2 {
        font-size: 24px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 769px) {
    h2 {
        font-size: 25px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 481px) {
    h2 {
        font-size: 22px;
        margin: 0 20px;
    }
}

/* Hero Section */

.hero-section {
    text-align: center;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.hero-section h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.132);
}

.hero-section h2 {
    font-size: 23px;
    text-align: center;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.132);
    margin: 10px 0;
}

.hero-section a,
a:visited {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background-color: #ff4654;
    border-radius: 0.6em;
    padding: 7px 21px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    transition: 0.3s ease-in;
}

.hero-section a:hover {
    background-color: #b52d38;
}

.hero-section a:active {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background-color: #ff4654;
    border-radius: 0.6em;
    padding: 7px 21px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.hero-section video {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    opacity: 0.4;
    width: 100%;
}

@media screen and (max-width: 1025px) {
    .hero-section h1 {
        font-size: 45px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 769px) {
    .hero-section h1 {
        font-size: 38px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 481px) {
    .hero-section h1 {
        font-size: 30px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 1025px) {
    .hero-section h2 {
        font-size: 22px;
        margin: 10px 20px;
    }
}

@media screen and (max-width: 769px) {
    .hero-section h2 {
        font-size: 21px;
        margin: 10px 20px;
    }
}

@media screen and (max-width: 481px) {
    .hero-section h2 {
        font-size: 18px;
        margin: 10px 20px;
    }
}

@media screen and (max-width: 481px) {

    .hero-section a,
    a:visited {
        padding: 7px 15px;
    }
}

@media screen and (max-width: 481px) {
    .hero-section video {
        min-height: 300px;
    }
}

/* Sección Qué Es */

.about-tournament {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.about-tournament p {
    font-size: 18px;
    font-weight: 450;
    text-align: center;
    padding: 10px;
    margin: 0 5px;
}

@media screen and (max-width: 1025px) {
    .about-tournament p {
        font-size: 17px;
        width: 95%;
    }
}

@media screen and (max-width: 769px) {
    .about-tournament p {
        font-size: 16px;
        width: 90%;
    }
}

/* Sección Torneos */

.tournament-info {
    background-color: rgba(32, 32, 32, 0.459);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.tournament-info h2 {
    padding-top: 10px;
}

.tournament-description {
    font-size: 18px;
    font-weight: 350;
    text-align: center;
    margin: 20px 0;
}

.section-subdescription {
    text-align: center;
    font-size: 17px;
    font-weight: 380;
    margin: 25px;
}

.card-sections {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px 0;
    margin: 0 20px;
}

.card-sections div {
    width: 300px;
    border: 2px solid #f06065;
    border-radius: 10px;
    padding: 10px 10px;
}

.tournament-info .card-sections div {
    min-height: 258px;
}

.card-sections__text {
    margin: 20px 10px;
}

.batch {
    vertical-align: baseline;
    padding: 0 3px;
    margin: 10px 0;
    filter: drop-shadow(0 0 60px rgba(255, 255, 255, 0.611));
}

@media screen and (max-width: 1025px) {
    .tournament-description {
        font-size: 17px;
        width: 95%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 769px) {
    .tournament-description {
        font-size: 16px;
        width: 90%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 481px) {
    .batch {
        width: 45px;
    }
}

/* Sección Cuenta Regresiva */

.countdown {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: fit-content;
    padding: 20px;
    box-sizing: border-box;
}

.countdown h2 {
    margin: 10px 0;
}

.countdown div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 20px;
}

.countdown div span {
    background-color: #ffffff1c;
    border-radius: 0.6em;
    padding: 10px 20px;
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.619));
}

@media screen and (max-width: 481px) {
    .countdown h2 {
        width: 95%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 769px) {
    .countdown div {
        gap: 25px;
    }
}

@media screen and (max-width: 769px) {
    .countdown div {
        gap: 20px;
    }
}

@media screen and (max-width: 769px) {
    .countdown div span {
        padding: 10px 15px;
    }
}

@media screen and (max-width: 481px) {
    .countdown div span {
        font-size: 15px;
        padding: 10px 13px;
    }
}

/* Sección Premios Destacados */

.prizes {
    background-color: rgba(32, 32, 32, 0.459);
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}

.prizes h2 {
    padding-top: 10px;
}

.prizes .card-sections div {
    min-height: 200px;
}

.card-sections__icon {
    vertical-align: baseline;
    margin: 10px 0;
}

@media screen and (max-width: 769px) {
    .prizes h2 {
        padding: 10px 0;
    }
}

/* Página Requisitos */

.requirements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 20px 10px 20px;
    padding: 10px 10px;
}

.requirements__bg {
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
    opacity: 0.18;
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    margin: auto;
}

.requirements .card-sections {
    gap: 60px;
    margin: 0 auto;
}

.requirements .card-sections div {
    min-height: 236px;
}

.requirements .nota {
    text-align: center;
    font-style: italic;
    margin: 40px 0;
}

@media screen and (min-width: 1518px) {
    .requirements .card-sections {
        width: 70%;
    }
}

@media screen and (max-width: 1518px) {
    .requirements .card-sections {
        width: 90%;
        margin: 0 auto;
    }
}

/* Página Resultados */

.tournament-points {
    background-color: rgba(32, 32, 32, 0.459);
    margin: 0 0 40px 0;
    padding: 40px;
}

.points__description {
    display: flex;
    justify-content: center;
    gap: 7px;
    text-align: center;
    margin-bottom: 10px;
}

.tournament-points div h3 {
    text-align: center;
    margin: auto 0;
}


.tournament-points__p {
    font-size: 17px;
    text-align: center;
    padding: 20px;
}

.tournament-points div p {
    font-size: 16px;
    text-align: left;
    padding: 3px 0;
}

.tournament-points table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
}

.tournament-points table th {
    width: 80px;
    border: 2px solid #f06065;
    background-color: #f06065;
}

.tournament-points table td {
    border: 2px solid #f06065;
}

.mvp {
    font-size: 18px;
    text-align: left;
    padding: 20px 0;
}

.tournament-points button {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    background-color: #ff4654;
    border: none;
    border-radius: 0.6em;
    display: flex;
    padding: 7px 21px;
    margin: 7px auto;
    transition: 0.2s ease-in;

}

.tournament-points button:hover {
    background-color: #b52d38;
    border-radius: 0.6em
}

@media screen and (max-width: 481px) {
    .tournament-points__p {
        font-size: 16px;
    }
}

@media screen and (max-width: 481px) {
    .points__description {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width: 481px) {
    .points__description div {
        display: flex;
        justify-content: center;
    }    
}

@media screen and (max-width: 481px) {
    .points__description div img {
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 481px) {
    .points__description h3 {
        font-size: 19px;
    }

}

@media screen and (max-width: 481px) {
    .tournament-points table td {
        font-size: 14px;

    }

    
}

@media screen and (max-width: 481px) {
    .mvp {
        font-size: 17px;
    }
}

@media screen and (max-width: 481px) {
    .tournament-points button {
        padding: 7px 19px;
    }    
}



/* Página Noticias */

.news {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 220px);
    row-gap: 30px;
    column-gap: 10px;
    justify-content: center;
    padding: 20px;
    margin: 10px auto;
}

.news__1 {
    grid-column: span 6;
    width: 100% !important;
}

.news__1 p {
    width: 100% !important;
}

.news__2 {
    grid-column: span 3;
    width: 100% !important;
}

.news__2 p {
    width: 100% !important;
}

.news__3 {
    grid-column: span 3;
    width: 100% !important;
}

.news__3 p {
    width: 100% !important;
}

.news__4 {
    grid-column: span 2;
    width: 100% !important;
}

.news__4 p {
    width: 100% !important;
}

.news div {
    text-align: center;
    border: 2px solid #f06065;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
}

.news div .news-date {
    font-size: 16px;
    text-align: justify;
    padding: 5px;
}

.news div h3 {
    padding: 5px;
}

.news div p {
    width: 350px;
    font-size: 18px;
    padding: 5px;
}

@media screen and (max-width: 1025px) {
    .news {
        grid-template-rows: repeat(7, 200px);
    }
}

@media screen and (max-width: 769px) {
    .news {
        grid-template-rows: repeat(12, 200px);
    }
}

@media screen and (max-width: 769px) {
    .news div {
        grid-column: span 6;
        width: 100%;
    }
}

@media screen and (max-width: 1025px) {
    .news__4 {
        grid-column: span 3;
    }
}

@media screen and (max-width: 1179px) {
    .news div h3 {
        font-size: 19px;
    }
}

@media screen and (max-width: 481px) {
    .news div h3 {
        font-size: 17px;
    }
}

@media screen and (max-width: 1179px) {
    .news div p {
        font-size: 16px;
    }
}

/* Página Inscribite*/

.form {
    display: flex;
    justify-content: center;
    position: relative;
}

.form__bg {
    position: absolute;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
    opacity: 0.18;
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    margin: auto;
}

.row {
    justify-content: center !important;
    margin: 0 !important;
    padding: 20px;
}

.form-control:focus {
    border-color: #ff4654;
    box-shadow: 0 0 0 .25rem #ff465636;
}

.form-select:focus {
    border-color: #ff4654;
    box-shadow: 0 0 0 .25rem #ff465636;
}

.input-span {
    display: flex;
    align-items: center;
}

.form-check {
    display: flex !important;
    justify-content: center !important;
    gap: 10px;
}

.col-12 {
    display: flex;
    justify-content: center;
}

.bi {
    padding: 6px;
}

.bi:hover {
    color: #f06065;
}

.form-check-input:checked {
    background-color: #ff4654;
    border-color: #ff4654;
}

.form-check-input {
    --bs-form-check-bg: none !important;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #ff4654;
    --bs-btn-border-color: #ff4654;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b52d38;
    --bs-btn-hover-border-color: #b52d38;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ff4654;
    --bs-btn-active-border-color: #ff4654;
    --bs-btn-active-shadow: iccnset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
    border-radius: 0.6em;
    transition: 0.3s ease-in;
}

@media screen and (max-width: 769px) {
    .row {
        width: 75%;
        justify-content: center;
    }
}

@media screen and (max-width: 481px) {
    .row {
        width: 85%;
        justify-content: center;
    }
}

@media screen and (max-width: 481px) {
    .form-control {
        font-size: 15px;
    }    
}

@media screen and (max-width: 481px) {
    .form-select {
        font-size: 15px;
    }
}

/* Footer */

footer {
    text-align: center;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    z-index: 2;
}

.footer__icons a img {
    padding: 10px;
}

@media screen and (max-width: 481px) {
    .footer__icons a img {
        width: 55px;
    }
}