.news {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 220px);
    row-gap: 30px;
    column-gap: 10px;
    justify-content: center;
    padding: 20px;
    margin: 10px auto;
    .news__1 {
        background: linear-gradient(90deg,rgba(255, 70, 86, 0.162) 0%, rgba(0, 0, 0, 0.178) 50%, rgba(255, 70, 86, 0.19) 100%), url(../assets/img/bg-news.jpg);
        grid-column: span 6;
        width: 100% !important;
        transition: 0.6s ease-in-out;
        &:hover {
            background: linear-gradient(#ff4656c6, rgba(0, 0, 0, 0)), url(../assets/img/bg-news.jpg);
            justify-self: center;
            transform: scale(1.1);
        }
        .news-date {
            font-size: 16px;
            text-align: justify;
            padding: 5px;
        }
        h3 {
            padding: 5px;
        }
        p {
            font-size: 18px;
            padding: 5px;
            width: 100% !important;
        }
    }
    .news__2 {
        background: linear-gradient(90deg,rgba(255, 70, 86, 0.162) 0%, rgba(0, 0, 0, 0.178) 50%, rgba(255, 70, 86, 0.19) 100%), url(../assets/img/bg-news.jpg);
        grid-column: span 3;
        width: 100% !important;
        justify-self: center;
        transition: 0.6s ease-in-out;
        &:hover {
            background: linear-gradient(#ff4656c6, rgba(0, 0, 0, 0)), url(../assets/img/bg-news.jpg);
            width: 92% !important;
            transform: scale(1.1);  
        }
        .news-date {
            font-size: 16px;
            text-align: justify;
            padding: 5px;
        }
        h3 {
            padding: 5px;
        }
        p {
            font-size: 18px;
            padding: 5px;
            width: 100% !important;
        }
    }
    .news__3 {
        background: linear-gradient(90deg,rgba(255, 70, 86, 0.162) 0%, rgba(0, 0, 0, 0.178) 50%, rgba(255, 70, 86, 0.19) 100%), url(../assets/img/bg-news.jpg);
        grid-column: span 3;
        justify-self: center;
        width: 100% !important;
        transition: 0.6s ease-in-out;
        &:hover {
            background: linear-gradient(#ff4656c6, rgba(0, 0, 0, 0)), url(../assets/img/bg-news.jpg);
            width: 92% !important;
            transform: scale(1.1);
        }
        .news-date {
            font-size: 16px;
            text-align: justify;
            padding: 5px;
        }
        h3 {
            padding: 5px;
        }
        p {
            font-size: 18px;
            padding: 5px;
            width: 100% !important;            
        }
    }
    .news__4 {
        background: linear-gradient(90deg,rgba(255, 70, 86, 0.162) 0%, rgba(0, 0, 0, 0.178) 50%, rgba(255, 70, 86, 0.19) 100%), url(../assets/img/bg-news.jpg);
        grid-column: span 2;
        justify-self: center;   
        width: 100% !important;
        transition: 0.6s ease-in-out;  
        &:hover {
            background: linear-gradient(#ff4656c6, rgba(0, 0, 0, 0)), url(../assets/img/bg-news.jpg);
            width: 92% !important;
            transform: scale(1.1);
        }     
        .news-date {
            font-size: 16px;
            text-align: justify;
            padding: 5px;
        }
        h3 {
            padding: 5px; 
        }
        p {
            font-size: 18px;
            padding: 5px;
            width: 100% !important; 
        }
    }
}