/* VARIABLES */

$color-principal: #f06065;
$color-secundario: #000000; 
$color-acento: #ff4654; 
$font-color: #ffffff; 
$main-background: #000000;
$secondary-background: rgba(32, 32, 32, 0.459);

/* LISTAS */ 
$fontsizes: 16px, 17px, 18px, 19px, 20px;

/* MIXIN */
@mixin flex ($flex, $direction, $justify) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
}