/* GENERALES */

@media screen and (max-width: 992px) {
    header {
        .navbar {
            .container-fluid {
                .collapse {
                    .navbar-nav {
                        .nav-item {
                            .nav-link {
                                &:hover {
                                    color: #ff4654;
                                    background: none;
                                    border-radius: 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    header {
        .navbar {
            .container-fluid {
                .navbar-toggler {
                    width: 45px;
                    .navbar-toggler-icon {
                        width: 1em;
                        height: 1em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 481px) {
    header {
        .navbar {
            .container-fluid {
                .navbar-brand {
                    img {
                        width: 65px;
                    }
                }
                .navbar-toggler {
                    width: 45px;
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    h2 {
        font-size: 25px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 481px) {
    h2 {
        font-size: 24px;
        margin: 0 20px;
    }
}


@media screen and (max-width: 481px) {
    h2 {
        font-size: 22px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 769px) {
    .page-description {
        margin: 25px 0;
        h1 {
            font-size: 35px;
            text-align: center;
        }
        h2 {
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 481px) {
    .page-description {
        background-image: none;
        h1 {
            font-size: 32px;
            margin: 10px 0;
        }
        h2 {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 481px) {
    .card-sections {
        min-width: 200px;
        margin: 0 auto;
        div {
            padding: 30px 20px; 
            .batch {
                width: 43px;
                margin: 5px 0;
            }
            .card-sections__icon {
                width: 43px;
                margin: 5px 0;
            }
            h3 {
                font-size: 18px;                
            }
        }
    }
}

/* INDEX */

@media screen and (max-width: 1025px) {
    .hero-section {
        h1 {
            font-size: 45px;
            margin: 0 auto;
        }
        h2 {
            font-size: 22px;
            margin: 10px 20px;
        }
    }
}

@media screen and (min-width: 769px) {
    .hero-section a:hover {
        background-color: #b52d38;
    }
}

@media screen and (max-width: 769px) {
    .hero-section {
        h1 {
            font-size: 38px;
            margin: 0 20px;
        }
        h2 {
            font-size: 21px;
            margin: 10px 20px;
        }
    }
}

@media screen and (max-width: 481px) {
    .hero-section {
        h1 {
            font-size: 30px;
            margin: 0 20px;
        }
        h2 {
            font-size: 18px;
            margin: 10px 20px;
        }
        a {
            padding: 7px 15px;
            &:visited {
                padding: 7px 15px;
            }
        }
        video {
            min-height: 300px;
        }
    }
}

@media screen and (max-width: 1025px) {
    .about-tournament {
        p {
            font-size: 17px;
            width: 95%;
        }
    }
}

@media screen and (max-width: 769px) {
    .about-tournament {
        p {
            font-size: 16px;
            width: 90%;
        }
    }
}

@media screen and (max-width: 481px) {
    .about-tournament {
        height: 300px;
        margin: 0 10px;
        h2 {
            margin: 10px 0;
        }
        p {
            font-size: 16px;
            margin: 0;
        }

    }
}

@media screen and (max-width: 481px) {
    .tournament-info {
        h2 {
            padding: 15px 0;
        }
        .tournament-description {
            font-size: 16px;
        }   

        .section-subdescription {
                    font-size: 15px;
        }
    }
}

@media screen and (max-width: 769px) {
    .countdown {
        div {
            gap: 20px;
            span {
                padding: 10px 15px;
            }
        }
    }
}

@media screen and (max-width: 481px) {
    .countdown {
        h2 {
            width: 95%;
            margin: 0 auto;
        }
        div {
            flex-direction: column;            
            span {
                font-size: 15px;
                text-align: center;
                width: 104.13px;
                padding: 10px 13px;
                
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .prizes {
        h2 {
            padding: 10px 0;
        }
    }
}

/* REQUISITOS */

@media screen and (max-width: 481px) {
    .requirements {
        .card-sections {
            min-width: 220px;
            margin: 0 auto;
            div {
                padding: 30px 20px;
                h3 {
                    font-size: 18px;
                }
            }
        }
        .nota {
            font-size: 15px;
        }
    }
}

/* RESULTADOS */

@media screen and (max-width: 1025px) {
    .tournament-points {
        .tournament-per-rank {
            .tournament-per-rank__info {
                padding: 0px;
                margin: 30px 20px;
                .tournament-per-rank__date {
                    font-size: 15px;
                }
                .tournament-per-rank__participants {
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .tournament-points {
        .tournament-per-rank__info {
            button {
                &:hover {
                    background-color: #b52d38;
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .tournament-points {
        .tournament-per-rank {
            .tournament-per-rank__title {
                display: flex;
                justify-content: center;
                text-align: center;
                padding: 10px;
                margin: 15px 20px;
                div {
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }
                h3 {
                    font-size: 19px;
                    padding: 3px !important;
                }
            }
            h4 {
                font-size: 17px;
                text-align: center;
                padding: 0 !important;
                margin: 10px 20px;
            }
            .tournament-per-rank__info {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 35px 35px repeat(4, 50px) 50px 60px;
                row-gap: 20px;
                padding: 10px;
                margin: 20px 30px;
                .tournament-per-rank__date {
                    font-size: 15px;
                    grid-area: 1 / 1 / 2 / 4;
                    justify-self: start;
                    align-self: center;
                    margin: 0;
                }
                .tournament-per-rank__participants {
                    font-size: 15px;    
                    grid-area: 2 / 1 / 3 / 4;
                    justify-self: start;
                    align-self: center;
                    margin: 0;
                }
                table {
                    grid-area: 3 / 1 / 7 / 4;
                    justify-self: center;
                    font-size: 15px;
                }
                .mvp {
                    font-size: 16px !important;
                    grid-area: 7 / 1 / 8 / 4;
                    justify-self: center;
                    align-self: center;
                    font-size: 17px;
                    text-align: center;
                    margin: 0;
                }

                button {
                    grid-area: 8 / 1 / 9 / 4;
                    align-self: center;
                }
            }
        }
    }
}

@media screen and (max-width: 481px) {
    .tournament-points {
        .tournament-per-rank {
            margin: 20px 0;
            padding: 10px 30px;
            .tournament-per-rank__title {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                padding: 10px;
                margin: 15px 20px;
                div {
                    img {
                        width: 40px;
                        height: 40px;
                        margin: 10px 0;
                    }
                }
                h3 {
                    font-size: 19px;
                    padding: 3px !important;
                    
                }
            }
            h4 {
                font-size: 16px;
                text-align: center;
                padding: 0 !important;
                margin: 10px 0;
            }
            .tournament-per-rank__info {
                display: flex;
                flex-direction: column;
                gap: 30px;
                padding: 0 !important;
                margin: 30px auto !important;
                .tournament-per-rank__date {
                    font-size: 15px;
                    align-self: start;
                    margin: 0;
                }
                .tournament-per-rank__participants {
                    font-size: 15px;    
                    align-self: start;  
                    margin: 0;
                }
                table {
                    font-size: 0.8em;
                    justify-self: center;
                    margin: 0 auto;
                }
                .mvp {
                    font-size: 15px !important;
                    grid-area: 7 / 1 / 8 / 4;
                    justify-self: center;
                    align-self: center;
                    font-size: 17px;
                    text-align: center;
                    margin: 0;
                }
                button {
                    font-size: 15px;
                    padding: 7px 19px;
                    align-self: center;
                }
            }
        }
    }
}

/* NOTICIAS */


@media screen and (max-width: 1179px) {
    .news {
        .news__1 {
            h3 {
                font-size: 19px;
            }
            p {
                font-size: 16px;
            }
        }
        .news__2 {
            h3 {
                font-size: 19px;
            }
            p {
                font-size: 16px;
            }
        }
        .news__3 {
            h3 {
                font-size: 19px;
            }
            p {
                font-size: 16px;
            }
        }
        .news__4 {
            h3 {
                font-size: 19px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    .news {
        grid-template-rows: repeat(7, 200px);
        .news__4 {
            grid-column: span 3;
        }
    }
}

@media screen and (min-width: 769px) {
    .news {

        .news__1 {
            &:hover {
                background: linear-gradient(#ff4656c6, rgba(0, 0, 0, 0)), url(../assets/img/bg-news.jpg);
                justify-self: center;
                transform: scale(1.03);
            }
        }
        .news__2 {
            &:hover {
                background: linear-gradient(#ff4656c6, rgba(0, 0, 0, 0)), url(../assets/img/bg-news.jpg);
                width: 92% !important;
                transform: scale(1.03);
            }
        }
        .news__3 {
            &:hover {
                background: linear-gradient(#ff4656c6, rgba(0, 0, 0, 0)), url(../assets/img/bg-news.jpg);
                width: 92% !important;
                transform: scale(1.03);
            }
        }
        .news__4 {
            &:hover {
                background: linear-gradient(#ff4656c6, rgba(0, 0, 0, 0)), url(../assets/img/bg-news.jpg);
                width: 92% !important;
                transform: scale(1.03);  
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .news {
        grid-template-rows: repeat(12, 200px);
        .news__1 {
            grid-column: span 6;
        }
        .news__2 {
            grid-column: span 6;
        }
        .news__3 {
            grid-column: span 6;
        }
        .news__4 {
            grid-column: span 6;
        }
    }
}

@media screen and (max-width: 481px) {
    .news {
        grid-template-rows: repeat(5, 260px);
        row-gap: 50px;
        .news__1 {
            min-height: 260px;
            h3 {
                font-size: 17px;
            }
        }
        .news__2 {
            min-height: 260px;
            h3 {
                font-size: 17px;
            }
        }
        .news__3 {
            min-height: 260px;
            h3 {
                font-size: 17px;
            }
        }
        .news__4 {
            min-height: 260px;
            h3 {
                font-size: 17px;
            }
        }
    }
}

/* INSCRIBITE */

@media screen and (max-width: 769px) {
    .row {
        width: 75%;
        justify-content: center;
    }
}

@media screen and (max-width: 481px) {
    .form {
        .row {
            width: 85%;
            justify-content: center;
            padding: 40px 5px;
            .form-control {
                font-size: 15px;
            }
        }

        .row__modification {
            .form-select {
                font-size: 15px;
            }
        }
    }
}

/* FOOTER */

@media screen and (max-width: 481px) {
    .footer__icons {
        a {
            img {
                width: 55px;
            }
        }
    }
}